@font-face {
    font-family: 'Avengeance Heroic Avenger';
    src: url('AvengeanceHeroicAvengerNormal.eot');
    src: url('AvengeanceHeroicAvengerNormal.eot?#iefix') format('embedded-opentype'),
        url('AvengeanceHeroicAvengerNormal.woff2') format('woff2'),
        url('AvengeanceHeroicAvengerNormal.woff') format('woff'),
        url('AvengeanceHeroicAvengerNormal.ttf') format('truetype'),
        url('AvengeanceHeroicAvengerNormal.svg#AvengeanceHeroicAvengerNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bats';
    src: url('Bats.eot');
    src: url('Bats.eot?#iefix') format('embedded-opentype'),
        url('Bats.woff2') format('woff2'),
        url('Bats.woff') format('woff'),
        url('Bats.ttf') format('truetype'),
        url('Bats.svg#Bats') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bronco';
    src: url('BroncoRegular.eot');
    src: url('BroncoRegular.eot?#iefix') format('embedded-opentype'),
        url('BroncoRegular.woff2') format('woff2'),
        url('BroncoRegular.woff') format('woff'),
        url('BroncoRegular.ttf') format('truetype'),
        url('BroncoRegular.svg#BroncoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Birds of a Feather';
    src: url('BirdsofaFeather.eot');
    src: url('BirdsofaFeather.eot?#iefix') format('embedded-opentype'),
        url('BirdsofaFeather.woff2') format('woff2'),
        url('BirdsofaFeather.woff') format('woff'),
        url('BirdsofaFeather.ttf') format('truetype'),
        url('BirdsofaFeather.svg#BirdsofaFeather') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Buffalo Inline Grunge';
    src: url('BuffaloInline2Grunge.eot');
    src: url('BuffaloInline2Grunge.eot?#iefix') format('embedded-opentype'),
        url('BuffaloInline2Grunge.woff2') format('woff2'),
        url('BuffaloInline2Grunge.woff') format('woff'),
        url('BuffaloInline2Grunge.ttf') format('truetype'),
        url('BuffaloInline2Grunge.svg#BuffaloInline2Grunge') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'CAMPUS PERSONAL USE';
    src: url('CAMPUSPERSONALUSE.eot');
    src: url('CAMPUSPERSONALUSE.eot?#iefix') format('embedded-opentype'),
        url('CAMPUSPERSONALUSE.woff2') format('woff2'),
        url('CAMPUSPERSONALUSE.woff') format('woff'),
        url('CAMPUSPERSONALUSE.ttf') format('truetype'),
        url('CAMPUSPERSONALUSE.svg#CAMPUSPERSONALUSE') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Championship';
    src: url('Championship.eot');
    src: url('Championship.eot?#iefix') format('embedded-opentype'),
        url('Championship.woff2') format('woff2'),
        url('Championship.woff') format('woff'),
        url('Championship.ttf') format('truetype'),
        url('Championship.svg#Championship') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chiro';
    src: url('Chiro-Regular.eot');
    src: url('Chiro-Regular.eot?#iefix') format('embedded-opentype'),
        url('Chiro-Regular.woff2') format('woff2'),
        url('Chiro-Regular.woff') format('woff'),
        url('Chiro-Regular.ttf') format('truetype'),
        url('Chiro-Regular.svg#Chiro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cubic';
    src: url('Cubic.eot');
    src: url('Cubic.eot?#iefix') format('embedded-opentype'),
        url('Cubic.woff2') format('woff2'),
        url('Cubic.woff') format('woff'),
        url('Cubic.ttf') format('truetype'),
        url('Cubic.svg#Cubic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crackvetica';
    src: url('Crackvetica.eot');
    src: url('Crackvetica.eot?#iefix') format('embedded-opentype'),
        url('Crackvetica.woff2') format('woff2'),
        url('Crackvetica.woff') format('woff'),
        url('Crackvetica.ttf') format('truetype'),
        url('Crackvetica.svg#Crackvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital.eot');
    src: url('DS-Digital.eot?#iefix') format('embedded-opentype'),
        url('DS-Digital.woff2') format('woff2'),
        url('DS-Digital.woff') format('woff'),
        url('DS-Digital.ttf') format('truetype'),
        url('DS-Digital.svg#DS-Digital') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Death Record';
    src: url('DeathRecord.eot');
    src: url('DeathRecord.eot?#iefix') format('embedded-opentype'),
        url('DeathRecord.woff2') format('woff2'),
        url('DeathRecord.woff') format('woff'),
        url('DeathRecord.ttf') format('truetype'),
        url('DeathRecord.svg#DeathRecord') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'E1234';
    src: url('E1234.eot');
    src: url('E1234.eot?#iefix') format('embedded-opentype'),
        url('E1234.woff2') format('woff2'),
        url('E1234.woff') format('woff'),
        url('E1234.ttf') format('truetype'),
        url('E1234.svg#E1234') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evanescent';
    src: url('Evanescent.eot');
    src: url('Evanescent.eot?#iefix') format('embedded-opentype'),
        url('Evanescent.woff2') format('woff2'),
        url('Evanescent.woff') format('woff'),
        url('Evanescent.ttf') format('truetype'),
        url('Evanescent.svg#Evanescent') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'fotograami-hearts01';
    src: url('fotograami-hearts01.eot');
    src: url('fotograami-hearts01.eot?#iefix') format('embedded-opentype'),
        url('fotograami-hearts01.woff2') format('woff2'),
        url('fotograami-hearts01.woff') format('woff'),
        url('fotograami-hearts01.ttf') format('truetype'),
        url('fotograami-hearts01.svg#fotograami-hearts01') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giver Made';
    src: url('GiverMade-Italic.eot');
    src: url('GiverMade-Italic.eot?#iefix') format('embedded-opentype'),
        url('GiverMade-Italic.woff2') format('woff2'),
        url('GiverMade-Italic.woff') format('woff'),
        url('GiverMade-Italic.ttf') format('truetype'),
        url('GiverMade-Italic.svg#GiverMade-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gabella';
    src: url('Gabella-Regular.eot');
    src: url('Gabella-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gabella-Regular.woff2') format('woff2'),
        url('Gabella-Regular.woff') format('woff'),
        url('Gabella-Regular.ttf') format('truetype'),
        url('Gabella-Regular.svg#Gabella-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Happy Halloween';
    src: url('HappyHalloweenRegular.eot');
    src: url('HappyHalloweenRegular.eot?#iefix') format('embedded-opentype'),
        url('HappyHalloweenRegular.woff2') format('woff2'),
        url('HappyHalloweenRegular.woff') format('woff'),
        url('HappyHalloweenRegular.ttf') format('truetype'),
        url('HappyHalloweenRegular.svg#HappyHalloweenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horse';
    src: url('Horse.eot');
    src: url('Horse.eot?#iefix') format('embedded-opentype'),
        url('Horse.woff2') format('woff2'),
        url('Horse.woff') format('woff'),
        url('Horse.ttf') format('truetype'),
        url('Horse.svg#Horse') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MaxInitiale';
    src: url('MaxInitiale.eot');
    src: url('MaxInitiale.eot?#iefix') format('embedded-opentype'),
        url('MaxInitiale.woff2') format('woff2'),
        url('MaxInitiale.woff') format('woff'),
        url('MaxInitiale.ttf') format('truetype'),
        url('MaxInitiale.svg#MaxInitiale') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metal Gear Solid 2';
    src: url('MetalGearSolid2.eot');
    src: url('MetalGearSolid2.eot?#iefix') format('embedded-opentype'),
        url('MetalGearSolid2.woff2') format('woff2'),
        url('MetalGearSolid2.woff') format('woff'),
        url('MetalGearSolid2.ttf') format('truetype'),
        url('MetalGearSolid2.svg#MetalGearSolid2') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Prestige DEMO';
    src: url('ModernPrestigeDEMO.eot');
    src: url('ModernPrestigeDEMO.eot?#iefix') format('embedded-opentype'),
        url('ModernPrestigeDEMO.woff2') format('woff2'),
        url('ModernPrestigeDEMO.woff') format('woff'),
        url('ModernPrestigeDEMO.ttf') format('truetype'),
        url('ModernPrestigeDEMO.svg#ModernPrestigeDEMO') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Melted Monster';
    src: url('MeltedMonster.eot');
    src: url('MeltedMonster.eot?#iefix') format('embedded-opentype'),
        url('MeltedMonster.woff2') format('woff2'),
        url('MeltedMonster.woff') format('woff'),
        url('MeltedMonster.ttf') format('truetype'),
        url('MeltedMonster.svg#MeltedMonster') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa Rust Extras Demo Icons';
    src: url('NexaRustExtrasDemo-Icons.eot');
    src: url('NexaRustExtrasDemo-Icons.eot?#iefix') format('embedded-opentype'),
        url('NexaRustExtrasDemo-Icons.woff2') format('woff2'),
        url('NexaRustExtrasDemo-Icons.woff') format('woff'),
        url('NexaRustExtrasDemo-Icons.ttf') format('truetype'),
        url('NexaRustExtrasDemo-Icons.svg#NexaRustExtrasDemo-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'M Ponderosa';
    src: url('MPonderosa.eot');
    src: url('MPonderosa.eot?#iefix') format('embedded-opentype'),
        url('MPonderosa.woff2') format('woff2'),
        url('MPonderosa.woff') format('woff'),
        url('MPonderosa.ttf') format('truetype'),
        url('MPonderosa.svg#MPonderosa') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

